@charset "UTF-8";
/* Variables  style */
/* متغیرهای تم */
:root {
  --navbar-bg: #fff;
  --header-bg: #f0f8ff;
  --products-bg: #f9f9f9;
  --card-bg: #ffffff;
  --footer-bg: #eeeeee;
  --text-color: #333;
  --title-color: #e65100;
  --ff-primary: "Vazir", sans-serif;
}

body.dark {
  --navbar-bg: #333c4c;
  --header-bg: #111827;
  --products-bg: #111827;
  --card-bg: #242a38;
  --footer-bg: #333c4c;
  --text-color: #f9f9f9;
  --title-color: #FFA726;
  transition: all 0.5s;
}

/* todo Font-Fasce  */
@font-face {
  font-family: "Vazir";
  src: local("vazir"), local("Vazir"), local("vazir-normal"), local("Vazir-normal"), url("../../fonts/Vazir.woff2") format("woff2"), url("../../fonts/Vazir.woff") format("woff"), url("../../fonts/Vazir.eot") format("opentype"), url("../../fonts/Vazir.eot?#iefix") format("embedded-opentype"), url("../../fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Vazir-Bold";
  src: url("../../fonts/Vazir-Bold.woff2") format("woff2"), url("../../fonts/Vazir-Bold.woff") format("woff"), url("../../fonts/Vazir-Bold.eot") format("opentype"), url("../../fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Vazir-Thin";
  src: url("../../fonts/Vazir-Thin.woff2") format("woff2"), url("../../fonts/Vazir-Thin.woff") format("woff"), url("../../fonts/Vazir-Thin.eot") format("opentype"), url("../../fonts/Vazir-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Vazir-Light";
  src: url("../../fonts/Vazir-Light.woff2") format("woff2"), url("../../fonts/Vazir-Light.woff") format("woff"), url("../../fonts/Vazir-Light.eot") format("opentype"), url("../../fonts/Vazir-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Vazir-Medium";
  src: url("../../fonts/Vazir-Medium.woff2") format("woff2"), url("../../fonts/Vazir-Medium.woff") format("woff"), url("../../fonts/Vazir-Medium.eot") format("opentype"), url("../../fonts/Vazir-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Vazir-Black";
  src: url("../../fonts/Vazir-Black.woff2") format("woff2"), url("../../fonts/Vazir-Black.woff") format("woff"), url("../../fonts/Vazir-Black.eot") format("opentype"), url("../../fonts/Vazir-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/Vazir-Black.ttf") format("truetype");
  font-weight: 900;
}
/* todo: YekanBakh Fonts */
@font-face {
  font-family: "YekanBakh";
  src: url("../../fonts/YekanBakh-Regular.woff") format("woff");
}
@font-face {
  font-family: "YekanBakh Medium";
  src: url("../../fonts/YekanBakh-Medium.woff") format("woff");
}
@font-face {
  font-family: "YekanBakh Bold";
  src: url("../../fonts/YekanBakh-Bold.woff") format("woff");
}
@font-face {
  font-family: "YekanBakh Heavy";
  src: url("../../fonts/YekanBakh-Heavy.woff") format("woff");
}
/* Main Layout styles(utilities) */
html {
  scroll-behavior: smooth;
  font-family: "vazir";
}

body {
  font-family: "vazir";
}

/* نوار بالا */
.navbar-dark-light-pro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-bg);
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-dark-light-pro .logo {
  font-weight: bold;
}

.nav-links li {
  display: inline;
  margin: 0 10px;
}

.nav-links a {
  color: var(--text-color);
  text-decoration: none;
}

.theme-switch {
  font-family: vazir;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #16a34a;
  color: #fff;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 30px;
}

/* هدر */
.header-dark-light-pro {
  width: 100%;
  text-align: center;
  padding: 2rem;
  background-color: var(--header-bg);
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

.card2 {
  width: 100%;
  background-color: var(--card-bg);
  padding: 2rem 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.header-dark-light-pro img {
  width: 100%;
  height: 72vh;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
  border: 4px solid #333c4c;
  /* filter: brightness(50%); */
  filter: brightness(60%) blur(0px);
}

.header-dark-light-pro .nav-title {
  margin: 0.5rem 0;
  font-weight: bold;
}

.academy-name {
  color: var(--title-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), 2px 2px 3px rgba(0, 0, 0, 0.6), 3px 3px 5px rgba(0, 0, 0, 0.4); /* سایه دورتر برای برجسته شدن */
}

.drak-light-pro-body.dark .academy-name {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 4px 4px 8px rgba(0, 0, 0, 0.6); /* لایه دوم برای عمق بیشتر */ /* سایه گرم برای حس عمق */
}

.header-dark-light-pro .nav-subtitle {
  margin-top: 20px;
  font-weight: bold;
}

/* sidebar */
.sidebar {
  background: var(--navbar-bg);
  color: var(--text-color);
  position: fixed;
  width: 280px;
  top: 70px;
  height: 100%;
  right: -100%;
  transition: 0.4s;
  z-index: 10;
}

.sidebar.show {
  right: 0;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.sidebar.show .nav-links,
.sidebar.show .theme-switch {
  display: block;
}

.sidebar.show .nav-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  margin-top: 2rem;
}

.sidebar.show .nav-links li {
  display: block;
  margin: 0;
  width: 100%;
  padding: 20px 10px;
  border-radius: 10px;
}

.sidebar.show .nav-links li:hover {
  background-color: var(--card-bg);
}

.sidebar.show .nav-links li a {
  display: flex;
  align-items: center;
}

.sidebar-icon {
  font-size: 24px;
  margin: 0px 0 0 12px;
}

/* فوتر */
.footer-drak-light-pro {
  text-align: center;
  padding: 2rem 1rem;
  background-color: var(--footer-bg);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

.footer-drak-light-pro .social-icons {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  color: red;
}

.footer-drak-light-pro .social-icons img {
  width: 32px;
  height: 32px;
  margin: 0 5px;
  cursor: pointer;
  color: #fff;
}

.footer-drak-light-pro p {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.social-icons a {
  font-size: 40px; /* اندازه‌ی آیکن‌ها */
  color: var(--text-color); /* رنگ پیش‌فرض سفید */
  transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2); /* افکت بزرگ‌شدن هنگام هاور */
}

.whatsapp {
  color: #25D366;
} /* سبز واتساپ */
.telegram {
  color: #0088cc;
} /* آبی تلگرام */
.instagram {
  color: #E1306C;
} /* قرمز-بنفش اینستاگرام */
/* card Product styles */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card-dark-light-pro {
  width: calc(33.333% - 2rem);
  background-color: var(--card-bg);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.card-dark-light-pro img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top center;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: transform 0.4s;
  border: 2px solid #333c4c;
}

.card-dark-light-pro .ava-img,
.card-dark-light-pro .rayan-img {
  object-position: initial;
}

.card-dark-light-pro h3 {
  margin-bottom: 0.5rem;
}

.card-dark-light-pro p {
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* هاور روی کارت‌ها */
.card-dark-light-pro:hover img {
  transform: scale(1.05);
}

.category-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.category-box {
  display: block;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--card-bg);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
  transition: transform 0.3s;
}

.category-box:hover {
  transform: scale(1.05);
}

.category-box-icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.navbar-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 200px;
  object-fit: cover;
}

.card-body {
  text-align: center;
  padding: 15px;
}

h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn {
  padding: 8px 15px;
  border-radius: 6px;
  font-size: 14px;
  transition: background 0.3s ease;
}
.btn.btn-primary {
  background-color: #007bff;
  border: none;
}
.btn.btn-primary:hover {
  background-color: #0056b3;
}
.btn.btn-secondary {
  background-color: #6c757d;
  border: none;
}
.btn.btn-secondary:hover {
  background-color: #545b62;
}

.ihover {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ihover img {
  width: 100%;
  transition: transform 0.3s ease;
}
.ihover img:hover {
  transform: scale(1.1);
}

/* js-template-project-index.html-styles */
/* utilities */
/* استایل‌های پایه */
.drak-light-pro-body {
  font-family: vazir, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--products-bg);
  color: var(--text-color);
  box-sizing: border-box;
  transition: all 0.5s;
}

/* بخش محصولات */
.products {
  padding: 2rem;
  background-color: var(--products-bg);
}

.products h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: orange;
}

/* index.html */
/* Responsive Styles */
@media screen and (max-width: 992px) {
  .card-dark-light-pro {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .card-dark-light-pro {
    width: calc(50% - 1rem);
  }
  .header-dark-light-pro img {
    width: 100%;
  }
  .card-dark-light-pro {
    width: 100%;
    padding: 2rem 0.5rem;
  }
  .nav-links,
  .theme-switch {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .navbar-dark-light-pro {
    width: 100%;
  }
  .card2,
  .header-dark-light-pro,
  .card-dark-light-pro {
    width: 100%;
    padding: 2rem 0.5rem;
  }
  .footer-drak-light-pro p {
    font-size: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
