/* Variables & Fontfamily style */
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir.woff2") format("woff2"), url("../fonts/Vazir.woff") format("woff"), url("../fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Vazir-bold";
  src: url("../fonts/Vazir-Bold.eot");
  src: url("../fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Bold.woff2") format("woff2"), url("../fonts/Vazir-Bold.woff") format("woff"), url("../fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Booter - Zero Zero";
  src: url("../Fonts/Booter - Zero Zero.woff") format("woff"), url("../Fonts/Booter - Zero Zero.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
:root {
  --hue: 227;
  --sat: 47%;
  --primary-color: hsl(var(--hue), var(--sat), 52%);
  --primary-color-light: hsl(var(--hue), var(--sat), 85%);
  --primary-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --secondary-color: hsl(var(--hue), var(--sat), 53%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #fff;
  --ff-primary: "Vazir", sans-serif;
}

/*Reset & Base Utilities stylse */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  background: var(--body-color);
  line-height: 2;
  font-size: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  line-height: 2;
}

p {
  color: var(--text-color);
  line-height: 2;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

/* Main Layout styles */
.container {
  width: 90vw !important;
  margin: 0px auto !important;
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4rem 0 1rem 0;
}
.section__title, .section__title_center {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-bottom: 1rem;
}
.section__title_center {
  text-align: center;
}
.section__title span, .section__title_center span {
  color: var(--primary-color);
}

.svg__img {
  width: 300px;
  justify-self: center;
}

.fw-bold {
  font-weight: bold;
}

/* Text Color */
.text__red {
  color: red;
}

.text__pink {
  color: #e91e63;
}

.text__violet {
  color: #9c27b0;
}

.text__blue {
  color: #2196f3;
}

.text__orange {
  color: #ff5722;
}

.text__green {
  color: #4caf50;
}

/* Background Color */
.bg__red {
  background: red;
}

.bg__pink {
  background: #e91e63;
}

.bg__violet {
  background: #9c27b0;
}

.bg__blue {
  background: #2196f3;
}

.bg__orange {
  background: #ff5722;
}

.bg__green {
  background: #4caf50;
}

/* ? Button styles for prevent DRY */
.button {
  display: inline-block; /* for use into <a> and can get width & height  */
  background: var(--primary-color);
  color: var(--container-color);
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  transition: 0.4s;
}
.button:hover {
  background: var(--container-color);
  outline: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.button__header {
  display: none;
}
.button__link {
  background: var(--container-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 0.25rem 1rem;
}
.button__link:hover {
  background: var(--primary-color);
  color: var(--container-color);
}
.button__flext {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.button__red {
  background: red;
}
.button__pink {
  background: #E91E63;
}
.button__violet {
  background: #9C27B0;
}
.button__blue {
  background: #2196F3;
}
.button__orange {
  background: #FF5722;
}
.button__green {
  background: #4CAF50;
}

/* header section style */
.header {
  position: fixed; /* fixed has absolute into itself */
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
.nav__logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.nav__toggle {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 767px) {
  .nav__menu {
    position: fixed; /* fixed has absolute into itself */
    top: -100%; /* in toggle change to 4 rem */
    left: 0;
    right: 0;
    width: 90vw;
    margin: 0 auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    background: var(--container-color);
    border-radius: 1rem;
    padding: 2.5rem 0;
    z-index: -1;
    transition: all 0.4s;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.nav__item-link, .nav__toggle, .nav__logo {
  color: var(--title-color);
}

.show-menu {
  top: 5rem;
}

.nav-scroll {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.09);
}

.active-link {
  position: relative;
  transition: 1s;
}
.active-link::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 45%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
}

/* home section style */
.home {
  padding-top: 1rem;
}
.home__container {
  row-gap: 2.5rem;
}
.home__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.home__title span {
  color: var(--primary-color);
}
.home__description {
  margin-bottom: 1.5rem;
}
.home__links {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  flex-wrap: wrap;
}

/* Responsive Styles */
@media screen and (min-width: 576px) {
  .svg__img {
    width: 100%;
  }
  .home {
    padding-top: 1rem;
  }
  .home__container {
    grid-template-columns: 1fr;
    align-items: center;
  }
  .home__img {
    order: 1;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
  .nav__toggle {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .svg__img {
    width: 400px;
  }
  .button__header {
    display: block;
    padding: 0.5rem 1rem;
  }
}
/* elementry-Level */
/* intermediate-Level */
/* advance-level */

/*# sourceMappingURL=style.css.map */
