/* Responsive Styles */


@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 992px) {
  .card-dark-light-pro {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .card-dark-light-pro {
    width: calc(50% - 1rem);
  }
  .header-dark-light-pro img {
    width: 100%;
  }
  .card-dark-light-pro {
    width: 100%;
    padding: 2rem 0.5rem;
  }
   .nav-links,
  .theme-switch {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .navbar-dark-light-pro {
    width: 100%;
  }
  .card2,
  .header-dark-light-pro,
  .card-dark-light-pro {
    width: 100%;
    padding: 2rem 0.5rem;
  }
}
