/* فوتر */
.footer-drak-light-pro {
  text-align: center;
  padding: 2rem 1rem;
  background-color: var(--footer-bg);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

.footer-drak-light-pro .social-icons {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  color: red;
}

.footer-drak-light-pro .social-icons img {
  width: 32px;
  height: 32px;
  margin: 0 5px;
  cursor: pointer;
  color: #fff;
}

.footer-drak-light-pro p {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.social-icons a {
    font-size: 40px; /* اندازه‌ی آیکن‌ها */
    color: var(--text-color); /* رنگ پیش‌فرض سفید */
    transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
    transform: scale(1.4); /* افکت بزرگ‌شدن هنگام هاور */
}

/* .whatsapp { color: #25D366; } 
.telegram { color: #0088cc; } 
.instagram { color: #E1306C; } */ 

.whatsapp {
  background: linear-gradient(45deg, #25d366, #128c7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.telegram {
 background: linear-gradient(45deg, #1877f2, #0a58ca);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 
.instagram {
 background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 .facebook{
 background: linear-gradient(45deg, #1877f2, #0a58ca);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }
 .youtube{
   background: linear-gradient(45deg, #ff0000, #cc0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }