.modal-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 72vw; /* عرض ۹۰٪ از صفحه نمایش */
  max-width: 1400px; /* حداکثر عرض ۱۲۰۰ پیکسل برای جلوگیری از بیش از حد بزرگ شدن */
  max-height: 85vh;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: inherit !important;
}

.modal-content {
  text-align: left;
  padding: 20px;
  max-height: 90vh;
  overflow-y: auto;
}
.modal-content .close{
  color: #000 !important;
  font-size: 50px;
}
.modal-content #modal-title{
  color: #000;
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
}
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}
/* بخش تب های مودال */
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.tab-btn {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  background: #ddd;
  margin: 0 5px;
  border-radius: 5px;
  transition: background 0.3s;
  font-weight: bold;

  &.active {
    background:  #007bff; /* #28a745 */
    color: white;
  }
}

/* برای بخش کد */
.code-container {
  max-height: 60vh;
  overflow-y: auto;
  text-align: left;
  direction: ltr; /* تنظیم جهت از چپ به راست برای نمایش کدها */
}

/* اسکرول افقی برای کدهای طولانی */
.code-container pre {
  overflow-x: auto;
  padding: 10px;
  background: #282c34;
  color: #ffffff;
  border-radius: 5px;
  white-space: pre-wrap; /* بگذار خطوط کد شکسته شوند */
  word-wrap: break-word;
  min-height: 400px !important;
  max-height: 60vh !important;
}

.copy-btn {
  margin-top: 10px;
  padding: 5px 10px;
  background: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  width: 10%;
  margin: 10px auto;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .modal {
    width: 95vw; /* عرض ۹۰٪ از صفحه نمایش */
    padding: 5px;
  }
  .modal-content{
    padding: 0px;
  }
  .modal-content .close{
    top: -15px;
    right: 8px; 
  }
  .modal-content #modal-title{
    display: none;
  }
  .modal-content .tabs{
    margin-top: 40px;
  }

}
