
body {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    display: none;
}
#particles-js {
    width: 100%;
    height: 100vh;
    background: url(../images/winter.jpg);
    background-size: cover;
    background-position: center;
}
#particles2-js {
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(45deg, #e91e63, #ff9800); */
    background: linear-gradient(120deg, #0d0e18, #4a4c6a);

    margin: 20px 0;
}
#particles3-js {
    width: 100%;
    height: 100vh;
    background: url(../images/Christmas3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}