/* ? Button styles for prevent DRY */
.button {
  display: inline-block; /* for use into <a> and can get width & height  */
  background: var(--primary-color);
  color: var(--container-color);
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  transition: .4s;
  
  &:hover {
    background: var(--container-color);
    outline: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
  &__header {
    display: none;
  }
  &__link{
    background: var(--container-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: .25rem 1rem;

    &:hover{
      background: var(--primary-color);
      color: var(--container-color);
    }
  }

  &__flext{
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }

  &__red{
    background: red;
  }
  &__pink{
    background: #E91E63;
  }
  &__violet{
    background: #9C27B0;
  }
  &__blue{
    background:#2196F3 ;
  }
  &__orange{
    background:#FF5722 ;
  }
  &__green{
    background:#4CAF50 ;
  }
}
