/* Variables & Fontfamily style */
@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir.woff2') format('woff2'),
         url('../fonts/Vazir.woff') format('woff'),
         url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "Vazir-bold";
    src: url('../fonts/Vazir-Bold.eot');
    src: url('../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir-Bold.woff2') format('woff2'),
         url('../fonts/Vazir-Bold.woff') format('woff'),
         url('../fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: "Booter - Zero Zero";
    src: url("../Fonts/Booter - Zero Zero.woff") format("woff"),
        url("../Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

:root {
    // 227, 47%, 52%
    // 179, 70%, 45%

    --hue: 227;
    --sat: 47%;

    --primary-color: hsl(var(--hue), var(--sat), 52%);
    --primary-color-light: hsl(var(--hue), var(--sat), 85%);
    --primary-color-lighten: hsl(var(--hue), var(--sat), 80%);
    --secondary-color: hsl(var(--hue), var(--sat), 53%);

    --title-color: hsl(var(--hue), 4%, 15%);
    --text-color: hsl(var(--hue), 4%, 35%);
    --text-color-light: hsl(var(--hue), 4%, 65%);
    --body-color: hsl(var(--hue), 0%, 100%);
    --container-color: #fff;


    --ff-primary: "Vazir", sans-serif;
}