body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.swiper {
  width: 350px !important; /* عرض کل اسلایدر */
  height:500px !important; /* ارتفاع کل اسلایدر */
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 15px;
  width: 300px; /* عرض هر اسلاید */
  height: 500px; /* ارتفاع هر اسلاید */
}
.swiper-slide img {
    object-fit: cover !important;
    object-position:center !important;
    border-radius: 30px;
}
.slide1 {
  background-color: purple; 
}
.slide2 {
  background-color: blue;
}
.slide3 {
  background-color: green;
}
.slide4 {
  background-color: orange;
}
.slide5 {
  background-color: purple;
}
