body {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.swiper {
  width: 220px; /* عرض کل اسلایدر */
  height: 350px; /* ارتفاع کل اسلایدر */
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 15px;
  width: 180px; /* عرض هر اسلاید */
  height: 320px; /* ارتفاع هر اسلاید */
}
.slide1 {
  background-color: red;
}
.slide2 {
  background-color: blue;
}
.slide3 {
  background-color: green;
}
.slide4 {
  background-color: orange;
}
.slide5 {
  background-color: purple;
}
